@font-face {
    font-family: 'm3x6';
    src: url('Assets/Fonts/m3x6.ttf') format('woff2'),
         url('Assets/Fonts/m3x6.ttf') format('woff');
}

body {
    font-family: 'm3x6', sans-serif;
    font-size: xx-large;
    background-image: url('Assets/Images/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: url('Assets/Cursor/Idle.png'), auto;
}

.container {
    text-align: center;
    font-size: xx-large;
    background-color: #daa4806b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #85644e6b;
    max-width: 400px;
}

h1 {
    color: #b4b4b4;
    text-shadow: 2px 2px 0px #131313, -2px -2px 0px #131313, 2px -2px 0px #131313, -2px 2px 0px #131313;
}

.choices img {
    width: 64px;
    height: 80px;
    color: #b4b4b4;
}

button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: url('Assets/Cursor/Pointer.png'), pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    background-color: #b67d576b;
    transform: scale(1.5);
}

.result {
    margin-top: 20px;
    font-size: xx-large;
    color: #b4b4b4;
    text-shadow: 1px 1px 0px #131313, -1px -1px 0px #131313, 1px -1px 0px #131313, -1px 1px 0px #131313;
}

#game-result {
    font-weight: bold;
    font-size: 48px;
    color: #b4b4b4;
    text-shadow: 2px 2px 0px #131313, -2px -2px 0px #131313, 2px -2px 0px #131313, -2px 2px 0px #131313;
}

.scores {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    color: #b4b4b4;
    text-shadow: 1px 1px 0px #131313, -1px -1px 0px #131313, 1px -1px 0px #131313, -1px 1px 0px #131313;
}

#footer {
    position: fixed; /* Change to fixed for a persistent footer */
    bottom: 0;
    right: 0; /* Adjusted to be flush with the right edge */
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    color: #e69c69;
    padding: 10px; /* Add some padding as needed */
    border-radius: 5px;
    font-size: 48px; /* Adjusted font size for readability */
}
